*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: aquamarine;
}
button{
  margin: 20px;
  padding: 10px;
  width: 100px;
  background-color: orange;
  border-radius: 10px;
}
input{
  width: 200px;
  height: 30px;
}